useDynLib("kza")

importFrom("graphics", "par", "plot")
importFrom("stats", "cycle", "fft", "frequency", "is.ts", "start", "time", "ts", "var")

S3method(plot, kza)
S3method(plot, kzp)
S3method(plot, kzsv)
S3method(summary, kzp)
S3method(summary, kzsv)

# Export all names
exportPattern(".")
